body {
    background-color: #e9d0af;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    width: 1024px;
}
#popupSize {
    display: flex;
    margin: 2em 0;
    margin-left: auto;
}

#popupSize, .random {
    border-radius: 8px;
    padding: 1em 2em;
    border: none;
    background-color: bisque;
    transition-duration: 0.4s;
    box-shadow: 10px 10px 2px burlywood;
}

#popupSize:hover, .random:hover {
    background-color: blanchedalmond;
}

#popupSize:active, .random:active {
        background-color: burlywood;
        box-shadow: 0 5px bisque;
        transform: translateY(4px);
}

#popupSize, #grid {
    margin-right: auto;
}

#controls {
    height: 1024px;
    width: 384px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: 35px;
    background-color: white;
    padding-left: 40px;
}

#controls, #grid {
    border: 3px solid black;
    box-shadow: 10px 10px 2px black;
}

.content {
    display: flex;
}

#controls h2, #popupSize {
    font-size: 36px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.random {
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

